/avr/bootloaders/caterina/Descriptors.o
/avr/bootloaders/caterina/Descriptors.lst
/avr/bootloaders/caterina/Caterina.sym
/avr/bootloaders/caterina/Caterina.o
/avr/bootloaders/caterina/Caterina.map
/avr/bootloaders/caterina/Caterina.lst
/avr/bootloaders/caterina/Caterina.lss
/avr/bootloaders/caterina/Caterina.elf
/avr/bootloaders/caterina/Caterina.eep
/avr/bootloaders/caterina/Caterina-BareTouch-old.hex
/avr/bootloaders/caterina/.dep
